<md-dialog>
    <form name="configurationOAuth2Form" novalidate>
        <md-dialog-content class="md-dialog-content input-column">
            <div class="md-dialog-content-body" layout="column">
                <md-input-container>
                    <label>Title</label>
                    <input name="title" type="text" ng-model="config.title" required>
                    <div class="hint">A name for this configuration, only used to identity the config in RESTer.</div>
                    <div ng-messages="configurationOAuth2Form.title.$error" ng-show="configurationOAuth2Form.title.$touched">
                        <div ng-message="required">This is required!</div>
                    </div>
                </md-input-container>
                <md-checkbox ng-model="config.enableVariables">
                    Enable environment variables
                </md-checkbox>
                <md-input-container>
                    <label>OAuth 2 Flow</label>
                    <md-select name="flow" ng-model="config.flow" required>
                        <md-option value="code">Authorization Code</md-option>
                        <md-option value="implicit">Implicit</md-option>
                        <md-option value="resource_owner">Resource Owner Password Credentials</md-option>
                    </md-select>
                    <div ng-messages="configurationOAuth2Form.flow.$error" ng-show="configurationOAuth2Form.flow.$touched">
                        <div ng-message="required">This is required!</div>
                    </div>
                </md-input-container>
                <md-input-container ng-if="flow('code', 'implicit')">
                    <label>Authorization Request: Endpoint</label>
                    <input name="authorizationRequestEndpoint" type="url" ng-model="config.authorizationRequestEndpoint" required>
                    <div ng-messages="configurationOAuth2Form.authorizationRequestEndpoint.$error" ng-show="configurationOAuth2Form.authorizationRequestEndpoint.$touched">
                        <div ng-message="required">This is required!</div>
                    </div>
                </md-input-container>
                <md-input-container ng-if="flow('code')">
                    <label>Access Token Request: Method</label>
                    <md-select name="accessTokenRequestMethod" ng-model="config.accessTokenRequestMethod" required>
                        <md-option>POST</md-option>
                        <md-option>GET</md-option>
                    </md-select>
                </md-input-container>
                <md-input-container ng-if="flow('code', 'resource_owner')">
                    <label>Access Token Request: Endpoint</label>
                    <input name="accessTokenRequestEndpoint" type="url" ng-model="config.accessTokenRequestEndpoint" required>
                    <div ng-messages="configurationOAuth2Form.accessTokenRequestEndpoint.$error" ng-show="configurationOAuth2Form.accessTokenRequestEndpoint.$touched">
                        <div ng-message="required">This is required!</div>
                    </div>
                </md-input-container>
                <md-input-container ng-if="flow('code', 'resource_owner')">
                    <label>Access Token Request: Client Authentication</label>
                    <md-select name="accessTokenRequestAuthentication" ng-model="config.accessTokenRequestAuthentication" required>
                        <md-option value="basic">HTTP Basic authentication</md-option>
                        <md-option value="body">Credentials in request-body</md-option>
                    </md-select>
                </md-input-container>
                <md-input-container ng-if="flow('code', 'implicit', 'resource_owner')">
                    <label>Client ID</label>
                    <input name="clientId" type="text" ng-model="config.clientId" required>
                    <div ng-messages="configurationOAuth2Form.clientId.$error" ng-show="configurationOAuth2Form.clientId.$touched">
                        <div ng-message="required">This is required!</div>
                    </div>
                </md-input-container>
                <md-input-container ng-if="flow('code', 'resource_owner')">
                    <label>Client Secret</label>
                    <input name="clientSecret" type="text" ng-model="config.clientSecret" required>
                    <div ng-messages="configurationOAuth2Form.clientSecret.$error" ng-show="configurationOAuth2Form.clientSecret.$touched">
                        <div ng-message="required">This is required!</div>
                    </div>
                </md-input-container>
                <md-input-container ng-if="flow('code', 'implicit')">
                    <label>Redirect URI</label>
                    <input name="redirectUri" type="url" ng-model="config.redirectUri" required>
                    <div class="hint">Please provide any valid redirect uri for the OAuth 2 client. When this URL is loaded, RESTer fill grap the access token from the URL and finish the authorization flow.</div>
                    <div ng-messages="configurationOAuth2Form.redirectUri.$error" ng-show="configurationOAuth2Form.redirectUri.$touched">
                        <div ng-message="required">This is required!</div>
                    </div>
                </md-input-container>
                <md-input-container ng-if="flow('code', 'implicit', 'resource_owner')">
                    <label>Scope (optional)</label>
                    <input name="scope" type="text" ng-model="config.scope">
                </md-input-container>
            </div>
        </md-dialog-content>
        <md-dialog-actions>
            <md-button ng-click="delete()" class="md-warn neutral-action" ng-show="config.id">
                Delete
            </md-button>
            <span flex></span>
            <md-button ng-click="cancel()" class="md-primary">
                Cancel
            </md-button>
            <md-button type="submit" ng-click="save()" class="md-primary" ng-disabled="!configurationOAuth2Form.$valid">
                Save
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
