<md-dialog>
    <form name="generateTokenBasicForm" novalidate>
        <md-dialog-content class="md-dialog-content input-column">
            <div class="md-dialog-content-body" layout="column">
                <md-input-container>
                    <label>User name</label>
                    <input name="userName" type="text" ng-model="userName" required>
                    <div ng-messages="generateTokenBasicForm.userName.$error" ng-show="generateTokenBasicForm.userName.$touched">
                        <div ng-message="required">This is required!</div>
                    </div>
                </md-input-container>
                <md-input-container>
                    <label>Password</label>
                    <input name="password" type="password" ng-model="password" required>
                    <div ng-messages="generateTokenBasicForm.password.$error" ng-show="generateTokenBasicForm.password.$touched">
                        <div ng-message="required">This is required!</div>
                    </div>
                </md-input-container>
            </div>
        </md-dialog-content>
        <md-dialog-actions>
            <md-button ng-click="cancel()" class="md-primary">
                Cancel
            </md-button>
            <md-button type="submit" ng-click="save()" class="md-primary" ng-disabled="!generateTokenBasicForm.$valid">
                Save
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
