<md-dialog>
    <form name="generateTokenCustomForm" novalidate>
        <md-dialog-content class="md-dialog-content">
            <div class="md-dialog-content-body" layout="column">
                <md-input-container>
                    <label>Scheme</label>
                    <input name="scheme" type="text" ng-model="token.scheme" required>
                    <div ng-messages="generateTokenCustomForm.scheme.$error" ng-show="generateTokenCustomForm.scheme.$touched">
                        <div ng-message="required">This is required!</div>
                    </div>
                </md-input-container>
                <md-input-container>
                    <label>Token</label>
                    <input name="token" type="text" ng-model="token.token" required>
                    <div ng-messages="generateTokenCustomForm.token.$error" ng-show="generateTokenCustomForm.token.$touched">
                        <div ng-message="required">This is required!</div>
                    </div>
                </md-input-container>
            </div>
        </md-dialog-content>
        <md-dialog-actions>
            <md-button ng-click="cancel()" class="md-primary">
                Cancel
            </md-button>
            <md-button ng-click="save()" class="md-primary" ng-disabled="!generateTokenCustomForm.$valid">
                Save
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
