<md-dialog aria-label="Change highlighting">
    <md-dialog-content class="md-dialog-content">
        <div class="md-dialog-content-body" layout="column">
            <md-radio-group ng-model="selectedLanguage">
                <md-radio-button
                    ng-repeat="lang in languages | orderBy:'label'"
                    ng-value="lang"
                    ng-click="selectLanguage(lang)">
                    {{lang.label}}
                </md-radio-button>
            </md-radio-group>
        </div>
    </md-dialog-content>
</md-dialog>
