<md-dialog aria-label="Quick open" class="quick-open-dialog">
    <md-autocomplete
        md-selected-item-change="openItem(item)"
        md-search-text="searchText"
        md-items="item in queryItems(searchText)"
        md-min-length="0"
        md-autofocus
        md-autoselect
        md-no-cache
        md-menu-class="quick-open-item-template"
        placeholder="Type to open a request...">
        <md-item-template>
            <span class="score">{{item.formattedScore}}</span>
            <span class="content">
                <span class="content__title">{{item.title}}</span>
                <span class="content__url">{{item.url}}</span>
            </span>
        </md-item-template>
    </md-autocomplete>
</md-dialog>
