<md-dialog>
    <form name="saveRequestForm" novalidate>
        <md-dialog-content class="md-dialog-content input-column">
            <div class="md-dialog-content-body" layout="column">
                <md-input-container>
                    <label>Collection</label>
                    <input name="collection" type="text" ng-model="collection" required="true"
                        input-suggestions="queryCollections(searchTerm)"
                        input-suggestions-max-visible="2.5">
                    <div class="hint">Tip: Use slashes to nest requests in the left navigation, e.g. <em>Main / Sub / Subsub</em>.</div>
                    <div ng-messages="saveRequestForm.collection.$error" ng-show="saveRequestForm.collection.$touched">
                        <div ng-message="required">This is required!</div>
                    </div>
                </md-input-container>
                <md-input-container>
                    <label>Title</label>
                    <input name="title" type="text" ng-model="title" required>
                    <div ng-messages="saveRequestForm.title.$error" ng-show="saveRequestForm.title.$touched">
                        <div ng-message="required">This is required!</div>
                    </div>
                </md-input-container>
                <md-checkbox ng-model="overwrite" ng-hide="isNew" ng-class="{'md-warn': showHistoryWarning}">
                    Overwrite existing request
                    <div ng-show="showHistoryWarning">You are about to overwrite this entry with data from history.</div>
                </md-checkbox>
            </div>
        </md-dialog-content>
        <md-dialog-actions>
            <md-button ng-click="cancel()" class="md-primary">
                Cancel
            </md-button>
            <md-button type="submit" ng-click="save()" class="md-primary" ng-disabled="!saveRequestForm.$valid">
                Save
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
