<md-menu class="options" ng-style="{'margin-right': isCodeMirrorScrolling() ? '18px' : 0}">
    <md-button aria-label="Show options" class="md-icon-button" ng-click="$mdOpenMenu($event)">
        <md-icon md-menu-origin>more_vert</md-icon>
    </md-button>
    <md-menu-content width="4">
        <md-menu-item ng-repeat="option in options">
            <md-button ng-click="activateOption(option)">
                <md-icon ng-style="{'visibility': option === activeOption ? 'visible' : 'hidden'}">check</md-icon> {{option.title}}
            </md-button>
        </md-menu-item>
        <md-menu-divider></md-menu-divider>
        <md-menu-item>
            <md-button ng-click="settings.setContentType = !settings.setContentType" md-prevent-menu-close>
                <md-icon ng-style="{'visibility': settings.setContentType ? 'visible' : 'hidden'}">check</md-icon> Set Content-Type header
            </md-button>
        </md-menu-item>
    </md-menu-content>
</md-menu>

<ui-codemirror
    ng-if="activeOption.inputType === 'codemirror'"
    ng-model="bodyWrapper.value"
    ui-codemirror-opts="getCodeMirrorOptions()">
</ui-codemirror>

<url-query-input
    ng-if="activeOption.inputType === 'form'"
    ng-model="bodyWrapper.value"
    encode="true">
</url-query-input>
