<div class="input-row" ng-repeat="header in getPreparedHeaders() track by $index">
    <md-input-container flex="35">
        <label>Name</label>
        <input type="text" ng-model="header.name" input-suggestions="querySearchHeader(searchTerm)">
    </md-input-container>

    <md-input-container flex>
        <label>Value</label>
        <input type="text" ng-model="header.value" input-suggestions="querySearchHeaderValue(header.name, searchTerm)">
    </md-input-container>

    <md-button class="md-icon-button" ng-click="removeHeader($index)">
        <md-icon>remove</md-icon>
    </md-button>
</div>
