<div layout="row" layout-align="space-between center" class="input-row" ng-repeat="header in getPreparedHeaders() track by $index">
    <md-autocomplete flex
        md-search-text="header.name"
        md-items="item in querySearchHeader(header.name)"
        md-item-text="item.name"
        md-floating-label="Name">
        <md-item-template>
            <span md-highlight-text="header.name" md-highlight-flags="gi">{{item.name}}</span>
        </md-item-template>
    </md-autocomplete>

    <md-autocomplete flex
        md-search-text="header.value"
        md-items="item in querySearchHeaderValue(header.name, header.value)"
        md-item-text="item"
        md-floating-label="Value">
        <md-item-template>
            <span md-highlight-text="header.value" md-highlight-flags="gi">{{item}}</span>
        </md-item-template>
    </md-autocomplete>

    <md-button class="md-icon-button" ng-click="removeHeader($index)">
        <md-icon>remove</md-icon>
    </md-button>
</div>
