<md-subheader ng-if="item.type === 'subheader'"
    class="md-no-sticky">
    {{item.title}}
    <md-button ng-if="item.action" class="md-icon-button"
        ng-click="invoke(item.action)">
        <md-icon>{{item.action.icon}}</md-icon>
    </md-button>
</md-subheader>

<md-list-item ng-if="item.type === 'item'"
    ng-click="invoke(item)"
    ng-class="{active: isActive(item)}">
    <div class="navigation-list-item__text" ng-style="{paddingLeft: (indentLevel * 24) + 'px'}">
        <div class="navigation-list-item__title">{{item.title}}</div>
        <div class="navigation-list-item__subtitle">{{item.subtitle}}</div>
    </div>
</md-list-item>

<div ng-if="item.type === 'group'"
    class="navigation-list-itemgroup"
    ng-class="{expanded: isGroupExpanded(item)}">
    <md-list-item ng-click="toggleGroup(item)">
        <div class="navigation-list-item__text" ng-style="{paddingLeft: (indentLevel * 24) + 'px'}">
            <div class="navigation-list-item__title">{{item.title}}</div>
        </div>
        <md-icon class="navigation-list-itemgroup__icon material-icons">expand_more</md-icon>
    </md-list-item>
    <div class="navigation-list-itemgroup__subitems">
        <navigation-list-item ng-repeat="subitem in item.items track by subitem.id"
            item="subitem"
            item-clicked="itemClicked({item: item})"
            indent-level="indentLevel + 1">
        </navigation-list-item>
    </div>
</div>

<md-divider ng-if="item.type === 'divider'"></md-divider>
