<div ng-if="!settings.expanded" flex>
    <md-input-container class="md-block">
        <label>URL</label>
        <input type="text" ng-model="url.absolute">
    </md-input-container>
</div>

<div ng-if="settings.expanded" flex>
    <md-input-container class="md-block">
        <label>URL</label>
        <input type="text" ng-model="url.originAndPath">
    </md-input-container>
    <url-query-input ng-model="url.query"></url-query-input>
</div>

<md-button class="md-icon-button expand" aria-label="Expand" ng-click="settings.expanded = !settings.expanded">
    <md-icon>{{settings.expanded ? 'expand_less' : 'expand_more'}}</md-icon>
</md-button>
