<div layout="row" layout-align="space-between start" class="input-row" ng-repeat="param in params track by $index">
    <md-input-container flex="35">
        <label>Name</label>
        <input type="text" ng-model="param.name">
    </md-input-container>
    <md-input-container flex>
        <label>Value</label>
        <textarea ng-model="param.value"></textarea>
    </md-input-container>
    <md-button class="md-icon-button remove" ng-click="removeParam($index)">
        <md-icon>remove</md-icon>
    </md-button>
</div>
