<p>
    You can use placeholders everywhere in the request by specifying variable names in
    curly brackets, e.g. <code>{id}</code> or <code>{title}</code>. Below you will see
    input fields for each variable mentioned in the request. Variable values will not be
    saved with the request. Instead values are shared between requests.
</p>

<md-switch ng-model="enabled">
    Enable variables for this request
</md-switch>

<div class="input-row" ng-repeat="variable in varNames | orderBy:'+'">
    <md-input-container flex>
        <label>{{variable}}</label>
        <input type="text" ng-model="values[variable]" ng-disabled="!enabled">
    </md-input-container>
</div>
<div class="input-row" ng-repeat="variable in providedVarNames | orderBy:'+'">
    <md-input-container flex>
        <label>{{variable}}</label>
        <input type="text" ng-model="providedValues[variable]" ng-disabled="true">
    </md-input-container>
</div>
