highlight-code-experimental {
    display: block;
    position: relative;
    padding-bottom: 16px;
}

highlight-code-experimental .options {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
    padding: 0;
}

highlight-code-experimental .options .md-button.md-icon-button {
    margin: 0;
}
