.hotkeys {
    display: table;
    border-spacing: 8px;
    border-collapse: separate;
}

.hotkey {
    display: table-row;
}

.hotkey__combos {
    display: table-cell;
}

.hotkey__combo {
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
                0px 1px 1px 0px rgba(0, 0, 0, 0.14),
                0px 2px 1px -1px rgba(0, 0, 0, 0.12);
    background-color: #00BCD4;
    padding: 4px 8px;
    border-radius: 2px;
    display: inline-block;
    margin-right: 4px;
    text-transform: capitalize;
}

.hotkey__combo:last-child {
    margin-right: 0;
}

.hotkey__description {
    display: table-cell;
}
