.hotkey {
}

.hotkey__combo {
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
                0px 1px 1px 0px rgba(0, 0, 0, 0.14),
                0px 2px 1px -1px rgba(0, 0, 0, 0.12);
    background-color: #00BCD4;
    padding: 4px 8px;
    border-radius: 2px;
    display: inline-block;
    margin: 4px;
    text-transform: capitalize;
}

.hotkey__combo:first-child {
    margin-left: 0;
}

.hotkey__description {
}