md-input-container .input-description {
    box-sizing: border-box;
    font-size: 12px;
    line-height: 14px;
    padding-top: 5px;
    color: rgba(255, 255, 255, .7);
    margin-top: 0;
    clear: left;
    position: relative;
    min-height: 24px;
}
