lint-messages {
    display: block;
    background-color: #424242;
}

.lint-message {
    background-color: #FFD740;
    color: rgba(0, 0, 0, 0.87);
    padding: 4px 16px;

    display: flex;
    flex-direction: row;
    align-items: center;

    transition: transform .25s ease,
                opacity .25s ease;
}

.lint-message__text {
    flex: 1;
}

.lint-message__fix.md-button {
    margin: 0;
}

.lint-message__dismiss.md-button.md-icon-button {
    margin-right: -8px;
}

.lint-message md-icon {
    color: rgba(0, 0, 0, 0.54);
}


/* Animations */
.lint-message.ng-enter {
    transform: translateY(-100%);
    opacity: 0;
}

.lint-message.ng-enter-active {
    transform: none;
    opacity: 1;
}

.lint-message.ng-leave {
    transform: none;
    opacity: 1;
}

.lint-message.ng-leave-active {
    transform: translateY(-100%);
    opacity: 0;
}
