md-list-item.text-overflow-fix.md-3-line .md-list-item-text {
    overflow: hidden;
}

md-list-item.text-overflow-fix.md-3-line.md-with-secondary .md-list-item-text {
    padding-right: 56px;
}

md-list-item.text-overflow-fix .md-list-item-text h3,
md-list-item.text-overflow-fix .md-list-item-text h4 {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
