.md-tab > md-switch {
    margin: 0;
    position: absolute;
    top: calc(50% - 15px);
    right: 24px;
}

.md-tab > md-switch ~ span {
    padding-right: 44px;
}

.md-tab > md-switch .md-container {
    margin: 0;
}
