.progress-button md-progress-circular {
    position: absolute;
    top: calc(50% - 25px);
    left: calc(50% - 25px);
}

.progress-button md-progress-circular[md-diameter="24"] {
    top: calc(50% - 12px);
    left: calc(50% - 12px);
}

.progress-button md-progress-circular[md-diameter="36"] {
    top: calc(50% - 18px);
    left: calc(50% - 18px);
}

.progress-button .ng-hide {
    display: block !important;
    visibility: hidden !important;
}
