.quick-open-dialog {
    align-self: flex-start;
    margin: 12px;
    width: 400px;
}

@media only screen and (min-width:0) and (max-width:600px) and (orientation:portrait) {
    .quick-open-dialog {
        margin: 8px;
    }
}

@media only screen and (min-width:0) and (max-width:600px) and (orientation:landscape) {
    .quick-open-dialog {
        margin: 4px;
    }
}


.quick-open-item-template li md-autocomplete-parent-scope {
    display: flex;
    flex-direction: row;
}

.quick-open-item-template li .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 16px;
    line-height: initial;
}

.quick-open-item-template li .content__url {
    font-size: 12px;
    color: rgba(0, 0, 0, .54);
}
