<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/app-route/app-route.html">
<link rel="import" href="../../bower_components/iron-flex-layout/iron-flex-layout-classes.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../../bower_components/paper-header-panel/paper-header-panel.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../bower_components/paper-tabs/paper-tabs.html">
<link rel="import" href="../../bower_components/paper-toolbar/paper-toolbar.html">

<link rel="import" href="../controls/rester-authorization-input.html">
<link rel="import" href="../controls/rester-autocomplete-input.html">
<link rel="import" href="../controls/rester-body-input.html">
<link rel="import" href="../controls/rester-header-input.html">
<link rel="import" href="../controls/rester-url-input.html">
<link rel="import" href="../layout/rester-page-behavior.html">
<link rel="import" href="../styles/rester-page-styles.html">

<dom-module id="rester-page-request">
    <template>
        <style include="rester-page-styles iron-flex iron-flex-alignment iron-positioning">
            :host {
                display: block;

                --paper-tabs-selection-bar-color: var(--accent-color);
                --paper-tab-ink: var(--accent-color);
                --paper-tab: {
                    padding: 0 24px;
                    text-transform: uppercase;
                };
            }

            .method-input,
            .url-input {
                margin-right: 16px;
            }

            .send-button {
                top: 22px;
                background-color: var(--accent-color);
                color: var(--light-theme-text-color);
            }

            .send-button paper-spinner {
                width: 20px;
                height: 20px;
            }

            .input-tabs {
                margin-top: 8px;
            }
        </style>

        <app-route
                route="{{route}}"
                pattern="/:requestId"
                active="{{routeActive}}"
                data="{{routeData}}"
                tail="{{historyRoute}}"></app-route>
        <app-route
                route="{{historyRoute}}"
                pattern="/history/:historyId"
                active="{{historyRouteActive}}"
                data="{{historyRouteData}}"></app-route>

        <paper-header-panel>
            <paper-toolbar>
                <paper-icon-button icon="menu" paper-drawer-toggle></paper-icon-button>
                <div class="title" hidden>[[requestTitle]]</div>
                <paper-input label="Title" value="{{requestTitle}}" class="flex"></paper-input>
                <paper-icon-button icon="save"></paper-icon-button>
                <paper-icon-button icon="delete"></paper-icon-button>
            </paper-toolbar>
            <div role="main">
                <!-- Request -->
                <form is="iron-form" id="requestForm">
                    <div class="layout horizontal baseline justified">
                        <rester-autocomplete-input
                                class="method-input"
                                label="Method"
                                value="{{request.method}}"
                                items="[[requestMethods]]"
                                required></rester-autocomplete-input>
                        <rester-url-input
                                value="{{request.url}}"
                                required
                                class="url-input flex"></rester-url-input>
                        <paper-button
                                raised
                                type="submit"
                                class="send-button"
                                on-tap="_sendRequest"
                                disabled$="[[requestIsSending]]">
                            <span hidden$="[[requestIsSending]]">Send</span>
                            <paper-spinner active hidden$="[[!requestIsSending]]"></paper-spinner>
                        </paper-button>
                    </div>

                    <div class="input-tabs layout horizontal">
                        <paper-tabs selected="{{requestSelectedTab}}">
                            <paper-tab id="request-tab-0">Headers</paper-tab>
                            <paper-tab id="request-tab-1">Body</paper-tab>
                            <paper-tab id="request-tab-2">Authorization</paper-tab>
                            <paper-tab id="request-tab-3">Variables</paper-tab>
                        </paper-tabs>
                    </div>
                    <iron-pages selected="[[requestSelectedTab]]">
                        <div role="tabpanel" aria-labelledby="request-tab-0">
                            <rester-header-input value="{{request.headers}}"></rester-header-input>
                        </div>
                        <div role="tabpanel" aria-labelledby="request-tab-1">
                            <rester-body-input
                                    value="{{request.body}}"
                                    content-type="[[requestContentType]]"
                                    on-content-type-changed="_onRequestContentTypeChangedByBody"></rester-body-input>
                        </div>
                        <div role="tabpanel" aria-labelledby="request-tab-2">
                            <rester-authorization-input
                                    authorization="[[requestAuthorization]]"
                                    on-authorization-changed="_onRequestAuthorizationChanged"></rester-authorization-input>
                        </div>
                        <div role="tabpanel" aria-labelledby="request-tab-3">
                            <variables-input
                                ng-model="requestVariableValues"
                                source-obj="request"
                                enabled="request.variables.enabled">
                            </variables-input>
                        </div>
                    </iron-pages>
                </form>

                <!-- Response -->
                <div ng-show="response">
                    <h2 layout="row" layout-align="start center">
                        Response
                        <div class="badge {{getResponseBadgeModifierClass()}}">{{response.status}} {{response.statusText}}</div>
                        <div class="badge badge--pull-right">in {{elapsedMillis}} ms</div>
                    </h2>
                    <highlight-code
                        code="{{getResponseHeadersAsString()}}"
                        language="http">
                    </highlight-code>
                    <highlight-code
                        code="{{response.body}}"
                        language="{{getResponseBodyHighlightLanguage()}}"
                        show-options="true"
                        ng-if="!experimentalResponseHighlighting"
                        ng-show="response.body">
                    </highlight-code>
                    <highlight-code-experimental
                        code="response.body"
                        language="getResponseBodyHighlightLanguage()"
                        ng-if="experimentalResponseHighlighting && response.body">
                    </highlight-code-experimental>
                </div>
            </div>
        </paper-header-panel>
    </template>

    <script>
        Polymer({
            is: 'rester-page-request',

            behaviors: [
                RESTer.PageBehavior
            ],

            properties: {
                route: {
                    type: Object,
                    observer: '_onRouteChanged'
                },
                request: {
                    type: Object,
                    value: {
                        method: '',
                        url: '',
                        headers: [],
                        body: ''
                    }
                },
                requestMethods: {
                    type: Array,
                    readOnly: true,
                    value: ['DELETE', 'GET', 'HEAD', 'OPTIONS', 'PATCH', 'POST', 'PUT']
                },
                requestIsSending: {
                    type: Boolean,
                    readOnly: true,
                    value: false
                },
                requestSelectedTab: {
                    type: Number,
                    value: 0
                },
                requestContentType: {
                    type: String,
                    computed: '_computeRequestHeader(request.headers.*, \'Content-Type\')'
                },
                requestAuthorization: {
                    type: String,
                    computed: '_computeRequestHeader(request.headers.*, \'Authorization\')'
                }
            },

            ready () {
                RESTer.rester.getRequestCollections().then(r => {
                    this.items = r;
                });
            },

            _sendRequest () {
                if (this.$.requestForm.validate()) {
                    this._setRequestIsSending(true);
                }
            },

            _onRouteChanged () {
                if (this.routeActive && this.historyRouteActive) {
                    this._setPageTitle(`Request ${this.routeData.requestId} (History: ${this.historyRouteData.historyId})`);
                } else if (this.routeActive) {
                    this._setPageTitle(`Request ${this.routeData.requestId}`);
                } else {
                    this._setPageTitle(`Request NEW`);
                }
            },

            _computeRequestHeader (headers, headerName) {
                let header = this.request.headers.find(h => h.name.toLowerCase() === headerName.toLowerCase()),
                    headerValue = header ? header.value : '';

                return headerValue.toLowerCase();
            },

            _onRequestContentTypeChangedByBody (e) {
                this._setRequestHeader('Content-Type', e.detail.value);
            },

            _onRequestAuthorizationChanged (e) {
                this._setRequestHeader('Authorization', e.detail.value);
            },

            _setRequestHeader (headerName, value) {
                const index = this.request.headers.findIndex(h => h.name.toLowerCase() === headerName.toLowerCase());
                if (index > -1) {
                    this.request.headers.splice(index, 1);
                }

                if (value) {
                    const newHeader = {
                        name: headerName,
                        value: value
                    };

                    this.request.headers.push(newHeader);
                }

                this.set('request.headers', [...this.request.headers]);
            }
        });
    </script>
</dom-module>
