<link rel="import" href="../../bower_components/polymer/polymer.html">

<link rel="import" href="../pages/rester-page-about.html">
<link rel="import" href="../pages/rester-page-environments.html">
<link rel="import" href="../pages/rester-page-history.html">
<link rel="import" href="../pages/rester-page-request.html">
<link rel="import" href="../pages/rester-page-settings.html">

<dom-module id="rester-pages">
    <template>
        <style>
            :host {
                display: block;
            }

            .current-page {
                height: 100%;
            }
        </style>
    </template>

    <script>
        Polymer({
            is: 'rester-pages',

            properties: {
                page: {
                    type: String,
                    observer: '_onPageChanged'
                },
                pageTitle: {
                    type: String,
                    readOnly: true,
                    notify: true
                },
                route: {
                    type: Object,
                    observer: '_onRouteChanged'
                }
            },

            _currentElement: null,

            _onPageChanged () {
                if (this._currentElement) {
                    Polymer.dom(this.root).removeChild(this._currentElement);
                    this._currentElement = null;
                    this._setPageTitle(undefined);
                }

                if (this.page) {
                    this._currentElement = document.createElement(`rester-page-${this.page}`);
                    this._currentElement.classList.add('current-page');

                    Polymer.dom(this.root).appendChild(this._currentElement);

                    this._setPageTitle(this._currentElement.pageTitle);
                    this._currentElement.addEventListener('page-title-changed', () => {
                        this._setPageTitle(this._currentElement.pageTitle);
                    });

                    this._currentElement.route = this.route;
                }
            },

            _onRouteChanged () {
                if (this._currentElement) {
                    this._currentElement.route = this.route;
                }
            }
        });
    </script>
</dom-module>
