<link rel="import" href="../../bower_components/polymer/polymer.html">

<dom-module id="rester-pages-title">
    <template>
        <style>
            :host {
                display: block;
            }
        </style>
    </template>

    <script>
        Polymer({
            is: 'rester-pages-title',

            properties: {
                page: {
                    type: String,
                    observer: '_onPageChanged'
                },
                available: {
                    type: Boolean,
                    readOnly: true,
                    notify: true
                },
                value: {
                    type: String,
                    notify: true,
                    observer: '_onValueChanged'
                }
            },

            _currentElement: null,
            _supportedPages: ['request'],

            _onPageChanged () {
                if (this._currentElement) {
                    Polymer.dom(this.root).removeChild(this._currentElement);
                    this._currentElement = null;
                    this.value = undefined;
                }

                if (this.page && this._supportedPages.includes(this.page)) {
                    this._currentElement = document.createElement(`rester-pagetitle-${this.page}`);

                    Polymer.dom(this.root).appendChild(this._currentElement);

                    this._currentElement.value = this.value;
                    this._currentElement.addEventListener('value-changed', () => {
                        this.value = this._currentElement.value;
                    });

                    this._setAvailable(true);
                } else {
                    this._setAvailable(false);
                }
            },

            _onValueChanged () {
                if (this._currentElement) {
                    this._currentElement.value = this.value;
                }
            }
        });
    </script>
</dom-module>
