/*

    Name:       darkula
    Author:     Michael Kaminsky (http://github.com/mkaminsky11)

    Original darkula color scheme by Zeno Rocha (https://github.com/zenorocha/darkula-theme)

*/


.cm-s-darkula.CodeMirror, .cm-s-darkula .CodeMirror-gutters {
  background-color: #2b2b2b !important;
  color: #bababa !important;
  border: none;
}
.cm-s-darkula .CodeMirror-cursor {
  border-left: solid thin #bababa !important;
}
.cm-s-darkula .CodeMirror-focused .CodeMirror-selected,
.cm-s-darkula .CodeMirror-line::selection,
.cm-s-darkula .CodeMirror-line > span::selection,
.cm-s-darkula .CodeMirror-line > span > span::selection,
.cm-s-darkula .CodeMirror-line::-moz-selection,
.cm-s-darkula .CodeMirror-line > span::-moz-selection,
.cm-s-darkula .CodeMirror-line > span > span::-moz-selection {
  background: rgba(255, 255, 255, 0.10);
}
.cm-s-darkula span.cm-comment {
  color: #7f7f7f;
}
.cm-s-darkula span.cm-string,
.cm-s-darkula span.cm-string-2 {
  color: #a6e22e;
}
.cm-s-darkula span.cm-builtin {
  color: #e0c46c;
}
.cm-s-darkula span.cm-number,
.cm-s-darkula span.cm-atom {
  color: #6896ba;
}
.cm-s-darkula span.cm-variable,
.cm-s-darkula span.cm-variable-2,
.cm-s-darkula span.cm-variable-3 {
  color: #b9b9b9;
}
.cm-s-darkula span.cm-def {
  color: #ffb86c;
}
.cm-s-darkula span.cm-meta {
  color: #7f7f7f;
}
.cm-s-darkula span.cm-tag,
.cm-s-darkula span.cm-attribute,
.cm-s-darkula span.cm-property,
.cm-s-darkula span.cm-keyword,
.cm-s-darkula span.cm-operator {
  color: #cb7832;
}
.cm-s-darkula span.cm-qualifier {
  color: #50fa7b;
}
.cm-s-darkula span.cm-bracket {
  color: #bababa;
}

.cm-s-darkula .CodeMirror-activeline-background {background: rgba(255,255,255,0.1) !important;}
.cm-s-darkula .CodeMirror-matchingbracket { text-decoration: underline; color: white !important;}