.input-suggestions-wrapper {
    position: absolute;
    margin-top: 30px;
}

.input-suggestions {
    padding: 0;
    margin: 0;
    list-style: none;

    position: absolute;
    width: 100%;
    box-shadow: 0 2px 5px rgba(black, 0.25);
    background-color: rgb(250, 250, 250);
    color: rgb(33, 33, 33);
    z-index: 5;

    overflow-y: auto;
}

.input-suggestions li {
    font-size: 14px;
    padding: 0 15px;
    line-height: 48px;
    height: 48px;
    transition: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
}

.input-suggestions li:hover,
.input-suggestions li.selected {
    background-color: rgb(238, 238, 238);
}
