navigation-list .md-button,
navigation-list .md-button .md-ripple-container {
    border-radius: 0;
}


navigation-list .md-subheader .md-subheader-content {
    position: static;
}

navigation-list .md-subheader .md-subheader-content .md-button {
    position: absolute;
    top: 2px;
    right: 9px;
    margin: 0;
    line-height: 42px;
    height: 42px;
    width: 42px;
    z-index: 1;
}

navigation-list md-list-item,
navigation-list md-list-item .md-list-item-inner,
navigation-list md-list-item .md-no-style.md-button {
    min-height: 48px;
    height: 48px;
}

navigation-list md-list-item .md-list-item-inner .navigation-list-item__text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%
}


.navigation-list-itemgroup .navigation-list-itemgroup__icon {
    transition: transform 0.5s ease;
}

.navigation-list-itemgroup.expanded .navigation-list-itemgroup__icon {
    transform: rotate(-180deg);
}

.navigation-list-itemgroup .navigation-list-itemgroup__subitems {
    height: 0;
    overflow: hidden;
    transition: height 0.5s ease;
}

.navigation-list-itemgroup .navigation-list-itemgroup__subitems md-list-item,
.navigation-list-itemgroup .navigation-list-itemgroup__subitems .md-list-item-inner,
.navigation-list-itemgroup .navigation-list-itemgroup__subitems md-list-item .md-no-style.md-button {
    min-height: 38px;
    height: 38px;
}

.navigation-list-itemgroup .navigation-list-itemgroup__subitems .md-list-item-inner {
    padding-left: 38px;
}
