navigation-list-item {
    display: block;
}

/************************************************
 * Type: subheader
 */

navigation-list-item .md-subheader .md-subheader-content {
    position: static;
}

navigation-list-item .md-subheader .md-subheader-content .md-button {
    position: absolute;
    top: 2px;
    right: 9px;
    margin: 0;
    height: 42px;
    width: 42px;
    z-index: 1;
}

/************************************************
 * Type: item
 */

navigation-list-item md-list-item,
navigation-list-item md-list-item .md-list-item-inner,
navigation-list-item md-list-item .md-no-style.md-button {
    min-height: 48px;
    height: 48px;
}

.navigation-list-item__text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    line-height: 1.1em;
}

.navigation-list-item__title {
    overflow: hidden;
    text-overflow: ellipsis;
}

.navigation-list-item__subtitle {
    font-size: 12px;
    line-height: 1em;
}

md-list-item:not(.active) .navigation-list-item__subtitle {
    color: rgba(255, 255, 255, .7);
}

/************************************************
 * Type: group
 */

.navigation-list-itemgroup .navigation-list-itemgroup__icon {
    transition: transform 0.25s ease;
}

.navigation-list-itemgroup.expanded > md-list-item .navigation-list-itemgroup__icon {
    transform: rotate(-180deg);
}

.navigation-list-itemgroup .navigation-list-itemgroup__subitems {
    background-color: #424242;
    transition: transform 0.25s ease,
                opacity 0.25s ease;
}

.navigation-list-itemgroup .navigation-list-itemgroup__subitems md-list-item,
.navigation-list-itemgroup .navigation-list-itemgroup__subitems md-list-item .md-list-item-inner,
.navigation-list-itemgroup .navigation-list-itemgroup__subitems md-list-item .md-no-style.md-button {
    min-height: 36px;
    height: 36px;
}
