splash {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 100;

    background-color: #424242;
    opacity: 1;
    transition: opacity .3s ease;
    will-change: opacity;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

splash .icon {
    width: 128px;
    height: 128px;
    color: rgba(255,255,255,0.7);
}

splash .icon svg {
    fill: currentColor;
}
