<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-collapse/iron-collapse.html">
<link rel="import" href="../../bower_components/iron-selector/iron-selector.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../bower_components/paper-item/paper-item-body.html">
<link rel="import" href="../../bower_components/paper-item/paper-item.html">
<link rel="import" href="../../bower_components/paper-ripple/paper-ripple.html">
<link rel="import" href="../../bower_components/paper-styles/paper-styles.html">
<link rel="import" href="../../bower_components/paper-subheader/paper-subheader.html">
<link rel="import" href="../../bower_components/paper-tooltip/paper-tooltip.html">

<link rel="import" href="../styles/rester-icons.html">
<link rel="import" href="../styles/rester-paper-item-button.html">

<dom-module id="rester-navigation-list-item">
    <template>
        <style include="rester-paper-item-button">
            :host {
                display: block;

                --paper-item-body-two-line-min-height: 48px;
                --paper-item-body-secondary: {
                    font-size: 12px;
                    line-height: 1em;
                };
            }

            :host([subitem]) {
                --paper-item-min-height: 36px;
                --paper-item-body-two-line-min-height: 36px;
            }

            :host([active]) paper-item {
                background-color: var(--divider-color);
                color: var(--primary-color);
                font-weight: bold;

                --paper-item-body-secondary-color: var(--primary-color);
                --paper-item-body-secondary: {
                    font-weight: bold;
                };
            }

            :host([active]) paper-item-body [secondary] {
                color: var(--primary-color);
                font-weight: bold;
            }

            .subheader-title {
                flex: 1;
            }

            .subheader-action,
            .item-secondary-action {
                margin-right: -8px;
            }

            .divider {
                border-top: 1px solid var(--divider-color);
            }

            paper-item[role="button"] {
                line-height: 1.1em;
            }

            .toggle-icon {
                transition: transform 0.25s ease;
            }

            .toggle-icon.expanded {
                transform: rotate(-180deg);
            }
        </style>

        <template is="dom-if" if="[[item.isSubheader]]">
            <paper-subheader>
                <div class="subheader-title">[[item.title]]</div>
                <template is="dom-if" if="[[item.action]]">
                    <paper-icon-button
                            class="subheader-action"
                            icon="[[item.action.icon]]"
                            on-tap="_invokeAction"></paper-icon-button>
                </template>
            </paper-subheader>
        </template>

        <template is="dom-if" if="[[item.isItem]]">
            <paper-item on-tap="_invokeAction" class="button">
                <paper-ripple></paper-ripple>
                <paper-item-body two-line style$="padding-left: [[_getIndentionInPixel()]]px;">
                    <div>[[item.title]]</div>
                    <div secondary>[[item.subtitle]]</div>
                </paper-item-body>
                <template is="dom-if" if="[[item.secondaryAction]]">
                    <paper-icon-button
                            class="item-secondary-action"
                            icon="[[item.secondaryAction.icon]]"
                            on-tap="_invokeSecondaryAction"></paper-icon-button>
                </template>
            </paper-item>
        </template>

        <template is="dom-if" if="[[item.isGroup]]">
            <paper-item on-tap="_toggleGroup" class="button">
                <paper-ripple></paper-ripple>
                <paper-item-body style$="padding-left: [[_getIndentionInPixel()]]px;">
                    <div>[[item.title]]</div>
                </paper-item-body>
                <iron-icon
                        icon="expand-more"
                        class$="toggle-icon [[_getExpandedClass(item.isExpanded)]]"></iron-icon>
            </paper-item>
            <iron-collapse opened="[[item.isExpanded]]">
                <template is="dom-repeat" items="[[item.items]]" as="subitem">
                    <rester-navigation-list-item
                            item="[[subitem]]"
                            indent-level="[[_getIndentLevelForSubitems()]]"
                            route="[[route]]"
                            on-item-activated="_onSubitemActivated"
                            subitem></rester-navigation-list-item>
                </template>
            </iron-collapse>
        </template>

        <template is="dom-if" if="[[item.isDivider]]">
            <div class="divider"></div>
        </template>
    </template>

    <script>
        /**
         * @polymer
         * @customElement
         */
        class RESTerNavigationListItem extends Polymer.Element {
            static get is() {
                return 'rester-navigation-list-item';
            }

            static get properties() {
                return {
                    item: Object,
                    indentLevel: {
                        type: Number,
                        value: 0
                    },
                    route: {
                        type: Object,
                        observer: '_onRouteChanged'
                    },
                    active: {
                        type: Boolean,
                        computed: '_computeActive(route)',
                        reflectToAttribute: true
                    }
                };
            }

            _getIndentionInPixel() {
                return this.indentLevel * 24;
            }

            _getIndentLevelForSubitems() {
                return this.indentLevel + 1;
            }

            _toggleGroup() {
                this.set('item.isExpanded', !this.item.isExpanded);
            }

            _getExpandedClass() {
                return this.item.isExpanded ? 'expanded' : '';
            }

            _onSubitemActivated() {
                this.set('item.isExpanded', true);
            }

            _onRouteChanged() {
                this.set('item.isExpanded', false);
                setTimeout(() => {
                    if (this.active) {
                        this.dispatchEvent(new CustomEvent('item-activated', {
                            bubbles: true,
                            composed: true
                        }));
                    }
                });
            }

            _computeActive() {
                const url = this.item && this.item.action && this.item.action.url;
                if (!url) {
                    return false;
                }

                const activePath = this.route.path.split('/');
                const path = url.substr(1).split('/');

                return path.every((part, i) => part === activePath[i]);
            }

            _invokeAction() {
                const action = this.item.action;
                if (action.url) {
                    window.location = action.url;
                } else if (action.handler) {
                    action.handler();
                }
            }

            _invokeSecondaryAction(e) {
                e.stopPropagation();

                const action = this.item.secondaryAction;
                action.handler();
            }
        }

        customElements.define(RESTerNavigationListItem.is, RESTerNavigationListItem);
    </script>
</dom-module>
