<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="rester-drawer-footer-links">
    <template>
        <style>
            :host {
                display: block;
                font-size: 0.75em;
                padding: 8px;
                text-align: center;
            }

            :host ::slotted(a) {
                color: rgba(255, 255, 255, 0.5);
            }
        </style>

        <slot></slot>
    </template>

    <script>
        (function () {
            'use strict';

            /**
             * @polymerElement
             */
            class RESTerDrawerFooterLinks extends Polymer.Element {
                static get is() {
                    return 'rester-drawer-footer-links';
                }
            }

            customElements.define(RESTerDrawerFooterLinks.is, RESTerDrawerFooterLinks);
        })();
    </script>
</dom-module>
