<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="rester-drawer-footer-links">
    <template>
        <style>
            :host {
                display: block;
                font-size: 0.75em;
                color: var(--secondary-text-color);
                padding: 8px;
                text-align: center;
            }

            :host ::slotted(a) {
                color: var(--secondary-text-color);
            }
        </style>

        <slot></slot>
    </template>

    <script>
        /**
         * @polymer
         * @customElement
         */
        class RESTerDrawerFooterLinks extends Polymer.Element {
            static get is() {
                return 'rester-drawer-footer-links';
            }
        }

        customElements.define(RESTerDrawerFooterLinks.is, RESTerDrawerFooterLinks);
    </script>
</dom-module>
