<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<link rel="import" href="../data/rester-data-navigation.html">
<link rel="import" href="rester-navigation-list-item.html">

<dom-module id="rester-navigation-list">
    <template>
        <style>
            :host {
                display: block;
            }
        </style>

        <rester-data-navigation items="{{items}}"></rester-data-navigation>

        <template is="dom-repeat" items="[[items]]">
            <rester-navigation-list-item item="[[item]]" route="[[route]]"></rester-navigation-list-item>
        </template>
    </template>

    <script>
        /**
         * @polymer
         * @customElement
         */
        class RESTerNavigationList extends Polymer.Element {
            static get is() {
                return 'rester-navigation-list';
            }

            static get properties() {
                return {
                    route: Object,
                    items: Array
                };
            }
        }

        customElements.define(RESTerNavigationList.is, RESTerNavigationList);
    </script>
</dom-module>
