<link rel="import" href="../../bower_components/polymer/polymer.html">

<link rel="import" href="../pages/rester-page-about.html">
<link rel="import" href="../pages/rester-page-environments.html">
<link rel="import" href="../pages/rester-page-history.html">
<link rel="import" href="../pages/rester-page-request.html">
<link rel="import" href="../pages/rester-page-settings.html">

<dom-module id="rester-pages">
    <template>
        <style>
            :host {
                display: block;
                position: relative;
            }

            :host ::content > .page {
                height: 100%;
            }

            :host ::content > .old-page {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                z-index: 1;
                background-color: var(--primary-background-color);

                opacity: 1;
                transition: opacity 0.3s ease;
                will-change: opacity;
            }

            :host ::content > .old-page.animate-out {
                opacity: 0;
            }
        </style>

        <content></content>
    </template>

    <script>
        (function () {
            'use strict';

            Polymer({
                is: 'rester-pages',

                properties: {
                    page: {
                        type: String,
                        observer: '_onPageChanged'
                    },
                    pageTitle: {
                        type: String,
                        readOnly: true,
                        notify: true
                    },
                    route: {
                        type: Object,
                        observer: '_onRouteChanged'
                    },
                    showDrawerToggle: {
                        type: Boolean,
                        observer: '_onShowDrawerToggleChanged'
                    }
                },

                _currentElement: null,

                _onPageChanged() {
                    if (this._currentElement) {
                        const oldElement = this._currentElement;
                        this._currentElement = null;
                        this._setPageTitle(undefined);

                        oldElement.classList.remove('page');
                        oldElement.classList.add('old-page');
                        requestAnimationFrame(() => {
                            oldElement.classList.add('animate-out');
                            oldElement.addEventListener('transitionend', () => {
                                Polymer.dom(this).removeChild(oldElement);
                            });
                        });
                    }

                    if (this.page) {
                        this._currentElement = document.createElement(`rester-page-${this.page}`);
                        this._currentElement.classList.add('page');

                        Polymer.dom(this).appendChild(this._currentElement);

                        this._setPageTitle(this._currentElement.pageTitle);
                        this._currentElement.addEventListener('page-title-changed', () => {
                            this._setPageTitle(this._currentElement.pageTitle);
                        });

                        this._currentElement.route = this.route;
                        this._currentElement.showDrawerToggle = this.showDrawerToggle;
                    }
                },

                _onRouteChanged() {
                    if (this._currentElement) {
                        this._currentElement.route = this.route;
                    }
                },

                _onShowDrawerToggleChanged() {
                    if (this._currentElement) {
                        this._currentElement.showDrawerToggle = this.showDrawerToggle;
                    }
                }
            });
        })();
    </script>
</dom-module>
