<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-icons/social-icons.html">
<link rel="import" href="../../bower_components/paper-badge/paper-badge.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../bower_components/paper-item/paper-item-body.html">
<link rel="import" href="../../bower_components/paper-item/paper-item.html">
<link rel="import" href="../../bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="../../bower_components/paper-menu-button/paper-menu-button.html">

<link rel="import" href="../data/rester-data.html">

<dom-module id="rester-notifications">
    <template>
        <style>
            :host {
                display: inline-block;
            }

            paper-menu-button {
                --paper-menu-button: {
                    padding: 0;
                };
            }

            paper-badge {
                --paper-badge: {
                    margin-top: 4px;
                    margin-left: -8px;
                };
            }

            paper-item {
                white-space: nowrap;
            }
        </style>

        <paper-menu-button
                id="options"
                dynamic-align
                vertical-offset="48"
                restore-focus-on-close>
            <paper-icon-button
                    slot="dropdown-trigger"
                    id="menu-button"
                    icon="[[icon]]"></paper-icon-button>
            <paper-listbox slot="dropdown-content" selectable="[role='menuitemradio']">
                <template is="dom-repeat" items="[[notifications]]">
                    <paper-item role="menuitem" on-tap="_openNotification">
                        <paper-item-body two-line>
                            <div>[[item.title]]</div>
                            <div secondary>[[item.description]]</div>
                        </paper-item-body>
                    </paper-item>
                </template>
                <template is="dom-if" if="[[isEmpty]]">
                    <paper-item role="menuitem" disabled>
                        No notifications
                    </paper-item>
                </template>
            </paper-listbox>
        </paper-menu-button>

        <paper-badge
                for="menu-button"
                label="[[notifications.length]]"
                hidden$="[[isEmpty]]"></paper-badge>
    </template>

    <script>
        (function () {
            'use strict';

            /**
             * @polymerElement
             */
            class RESTerNotifications extends Polymer.Element {
                static get is() {
                    return 'rester-notifications';
                }

                static get properties() {
                    return {
                        notifications: {
                            type: Array,
                            readOnly: true
                        },
                        isEmpty: {
                            type: Boolean,
                            computed: '_computeIsEmpty(notifications.length)'
                        },
                        icon: {
                            type: String,
                            computed: '_computeIcon(isEmpty)'
                        }
                    };
                }

                constructor() {
                    super();
                    this._onNotificationAdded = this._onNotificationAdded.bind(this);
                    this._onNotificationRemoved = this._onNotificationRemoved.bind(this);
                }

                connectedCallback() {
                    super.connectedCallback();
                    this._setNotifications([...RESTer.notifications.notifications]);
                    RESTer.notifications.addEventListener('notificationAdded', this._onNotificationAdded);
                    RESTer.notifications.addEventListener('notificationRemoved', this._onNotificationRemoved);
                }

                disconnectedCallback() {
                    super.disconnectedCallback();
                    RESTer.notifications.removeEventListener('notificationAdded', this._onNotificationAdded);
                    RESTer.notifications.removeEventListener('notificationRemoved', this._onNotificationRemoved);
                }

                _onNotificationAdded(notification) {
                    this.push('notifications', notification);
                }

                _onNotificationRemoved(notification) {
                    const index = this.notifications.indexOf(notification);
                    this.splice('notifications', index, 1);
                }

                _computeIsEmpty(notificationsCount) {
                    return notificationsCount === 0;
                }

                _computeIcon(isEmpty) {
                    return isEmpty ? 'social:notifications-none' : 'social:notifications';
                }

                _openNotification(e) {
                    this.$.options.close();

                    const notification = e.model.item;
                    notification.open();
                }
            }

            customElements.define(RESTerNotifications.is, RESTerNotifications);
        })();
    </script>
</dom-module>
