<link rel="import" href="../data/rester-data.html">

<script>
    (function () {
        'use strict';

        /** @polymerBehavior RESTer.PageBehavior */
        RESTer.PageBehavior = {
            properties: {
                pageTitle: {
                    type: String,
                    readOnly: true,
                    notify: true
                },
                showDrawerToggle: {
                    type: Boolean,
                    observer: '_onShowDrawerToggleChanged'
                }
            },

            ready() {
                this._drawerToggle = this.$$('[paper-drawer-toggle]');
                this._onDrawerTap = this._onDrawerTap.bind(this);
            },

            attached() {
                if (this._drawerToggle) {
                    this._drawerToggle.addEventListener('tap', this._onDrawerTap);
                }
            },

            detached() {
                if (this._drawerToggle) {
                    this._drawerToggle.removeEventListener('tap', this._onDrawerTap);
                }
            },

            _onShowDrawerToggleChanged() {
                if (this._drawerToggle) {
                    this._drawerToggle.hidden = !this.showDrawerToggle;
                }
            },

            _onDrawerTap() {
                this.fire('drawer-toggle-tapped');
            }
        };
    })();
</script>
