<md-list>
    <md-list-item class="md-2-line about-list-item">
        <md-icon>home</md-icon>
        <div class="md-list-item-text">
            <h3>Homepage</h3>
            <p>https://github.com/frigus02/RESTer</p>
        </div>
    </md-list-item>
    <md-list-item class="md-2-line about-list-item">
        <md-icon>person</md-icon>
        <div class="md-list-item-text">
            <h3>Author</h3>
            <p>Jan K&uuml;hle</p>
        </div>
    </md-list-item>
    <md-list-item class="md-2-line about-list-item">
        <md-icon>update</md-icon>
        <div class="md-list-item-text">
            <h3>Version</h3>
            <p>{{version}}</p>
        </div>
    </md-list-item>
    <md-list-item class="md-2-line about-list-item">
        <md-icon>widgets</md-icon>
        <div class="md-list-item-text">
            <h3>Libraries and frameworks</h3>
            <p ng-repeat="lib in libraries | orderBy:'name'">
                {{lib.name}} {{lib.version}}
            </p>
        </div>
    </md-list-item>
</md-list>
