<md-list>
    <md-list-item class="md-long-text text-overflow-fix"
        ng-class="{'md-2-line': !entry.request.id, 'md-3-line': entry.request.id}"
        ng-repeat="entry in historyEntries | orderBy:'-time' track by entry.time"
        ng-click="openHistoryEntry(entry)">
        <div class="md-list-item-text">
            <h3>{{entry.time | date:'yyyy-MM-dd HH:mm:ss'}}</h3>
            <h4 ng-if="entry.request.id">{{entry.request.collection}} / {{entry.request.title}}</h4>
            <p>
                {{getCompiledRequestLine(entry)}}<br>
                {{entry.response.status}} {{entry.response.statusText}}
            </p>
        </div>
        <md-icon class="md-secondary material-icons"
            aria-label="Delete history entry"
            ng-click="deleteHistoryEntry(entry)">
            delete
        </md-icon>
    </md-list-item>
</md-list>

<div layout="row" layout-align="center center">
    <md-button class="md-raised md-primary" ng-click="loadAll()" ng-show="historyEntries.length === initialCount">
        Load all (this may take a while)
    </md-button>
</div>
