<!-- Request -->
<form name="requestForm" novalidate layout="column">
    <div class="input-row">
        <md-autocomplete
            md-search-text="request.method"
            md-items="method in queryRequestMethods(request.method)"
            md-item-text="method"
            md-autoselect="true"
            md-floating-label="Method"
            md-min-length="0"
            required="true">
            <md-item-template>
                <span md-highlight-text="request.method" md-highlight-flags="gi">{{method}}</span>
            </md-item-template>
        </md-autocomplete>
        <url-input ng-model="request.url" required flex></url-input>
        <md-button
            class="md-raised md-accent progress-button"
            type="submit"
            ng-click="sendRequest()"
            ng-disabled="!requestForm.$valid || requestIsSending">
            <span ng-hide="requestIsSending">Send</span>
            <md-progress-circular ng-show="requestIsSending"
                md-mode="indeterminate"
                md-diameter="24"
                class="progress-button"></md-progress-circular>
        </md-button>
    </div>

    <md-tabs md-dynamic-height md-selected="selectedTab">
        <md-tab label="Headers">
            <header-input ng-model="request.headers"></header-input>
        </md-tab>
        <md-tab label="Body">
            <body-input ng-model="request.body" headers="request.headers"></body-input>
        </md-tab>
        <md-tab label="Authorization">
            <authorization-input headers="request.headers"></authorization-input>
        </md-tab>
        <md-tab label="Variables">
            <variables-input
                ng-model="requestVariableValues"
                source-obj="request"
                enabled="request.variables.enabled">
            </variables-input>
        </md-tab>
    </md-tabs>
</form>

<!-- Response -->
<div layout="column" ng-show="response">
    <h2 layout="row" layout-align="start center">
        Response
        <div class="badge {{getResponseBadgeModifierClass()}}">{{response.status}} {{response.statusText}}</div>
        <div class="badge badge--pull-right">in {{elapsedMillis}} ms</div>
    </h2>
    <highlight-code
        code="{{response.getHeadersAsString()}}"
        language="http">
    </highlight-code>
    <highlight-code
        code="{{response.body}}"
        language="{{getResponseBodyHighlightLanguage()}}"
        show-options="true"
        ng-show="response.body">
    </highlight-code>
</div>
