<p>
    Environments can be used to store a list of values, which are available as variables in requests
    by using the placeholder <code>{$env.&lt;name&gt;}</code>. Example: <code>{$env.hostname}</code>
    if the active environment contains a value with the key <em>hostname</em>.
</p>

<md-radio-group ng-model="selectedEnvironment">
    <div ng-repeat="env in environments | orderBy:'name' track by env.id"
        class="md-radio-button-row">
        <md-radio-button ng-value="env">
            <h3>{{env.name}}</h3>
            <p ng-repeat="(key, value) in env.values">
                {{key}}: {{value}}
            </p>
        </md-radio-button>
        <md-button class="md-icon-button" aria-label="Edit environment" ng-click="editEnvironment($event, env)">
            <md-icon>edit</md-icon>
        </md-button>
    </div>
</md-radio-group>

<md-button class="md-fab md-fab-bottom-right" aria-label="Add environment" ng-click="addEnvironment($event)">
    <md-icon>add</md-icon>
</md-button>
