<!-- Request -->
<form name="requestForm" novalidate layout="column">
    <div class="input-row">
        <md-autocomplete
            md-selected-item="request.method"
            md-search-text="requestMethodSearch"
            md-items="method in queryRequestMethods(requestMethodSearch)"
            md-item-text="method"
            md-autoselect="true"
            md-floating-label="Method"
            required="true">
            <md-item-template>
                <span md-highlight-text="requestMethodSearch" md-highlight-flags="gi">{{method}}</span>
            </md-item-template>
        </md-autocomplete>
        <url-input ng-model="request.url" required flex></url-input>
        <md-button
            class="md-raised md-accent progress-button"
            ng-click="sendRequest()"
            ng-disabled="!requestForm.$valid || requestIsSending">
            <span ng-hide="requestIsSending">Send</span>
            <md-progress-circular ng-show="requestIsSending"
                md-mode="indeterminate"
                md-diameter="24"
                class="progress-button"></md-progress-circular>
        </md-button>
    </div>

    <md-tabs md-dynamic-height>
        <md-tab label="Headers">
            <header-input ng-model="request.headers"></header-input>
        </md-tab>
        <md-tab label="Body">
            <body-input ng-model="request.body" headers="request.headers"></body-input>
        </md-tab>
        <md-tab label="Authorization">
            <authorization-input headers="request.headers"></authorization-input>
        </md-tab>
        <md-tab>
            <md-tab-label>
                <md-switch
                    aria-label="Enable Variables"
                    ng-model="request.variables.enabled"
                    ng-click="$event.stopPropagation()"
                    ng-mousedown="$event.stopPropagation()">
                </md-switch>
                Variables
            </md-tab-label>
            <md-tab-body>
                <variables-input
                    ng-model="requestVariableValues"
                    source-obj="request"
                    ng-disabled="!request.variables.enabled">
                </variables-input>
            </md-tab-body>
        </md-tab>
    </md-tabs>
</form>

<!-- Response -->
<div layout="column" ng-show="response">
    <h2 layout="row" layout-align="start center">
        Response
        <div class="badge {{getResponseBadgeModifierClass()}}">{{response.status}} {{response.statusText}}</div>
    </h2>
    <highlight-code
        code="{{response.getHeadersAsString()}}"
        language="http">
    </highlight-code>
    <highlight-code
        code="{{response.body}}"
        language="{{getResponseBodyHighlightLanguage()}}"
        show-options="true"
        ng-show="response.body">
    </highlight-code>
</div>
