<md-switch ng-model="settings.enableRequestLintInspections">
    Inspections for requests
</md-switch>
<div class="hint">
    RESTer can analyze your request as you type and point out possible mistakes.
    Currently this includes:
    <ul>
        <li>Using placeholders without having variables enabled.</li>
        <li>Using a variable with an empty value.</li>
    </ul>
</div>

<md-switch ng-model="settings.stripDefaultHeaders">
    Strip default headers
</md-switch>
<div class="hint">
    RESTer uses the browser to send requests, which will add a couple of default
    headers to requests like <code>Accept</code>, <code>Accept-Encoding</code>
    or <code>User-Agent</code>. When you enable this option, RESTer will strip
    these headers unless they are explicitly provided in a request.
</div>

<md-switch ng-model="settings.experimentalResponseHighlighting">
    [Experimental] Different response rendering
</md-switch>
<div class="hint">
    Test a difference response rendering. It should work a lot better with very
    large responses and provides code folding. However it only works with JSON
    and XML currently and it will always have an additional scrollbar.
</div>
