<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1">

    <title>RESTer</title>

    <link rel="icon" type="image/png" href="images/favicon.png">
    <link rel="shortcut icon" type="image/png" href="images/favicon.png">

    <style>
        body {
            margin: 0;
        }

        .splash {
            position: fixed;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
        }

        .splash-icon {
            position: fixed;
            top: calc(50% - 64px);
            left: calc(50% - 64px);
            width: 128px;
            height: 128px;
        }

        rester-app[theme="dark"] .splash {
            background-color: #303030;
        }

        rester-app[theme="dark"] .splash-icon {
            fill: #bcbcbc;
        }

        rester-app[theme="light"] .splash-icon {
            fill: #737373;
        }
    </style>
</head>
<body>
    <rester-app>
        <div class="splash">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" class="splash-icon"><path d="M24.037.074C10.724.074 0 10.724 0 23.964 0 33.98 6.004 42.463 14.605 46.1a3.98 3.98 0 0 1-1.806-4.186l.34-1.664c-1.056-.69-2.05-1.502-2.933-2.46-2.145-1.996-3.55-4.436-4.66-7.173 1.113.602 2.6 1.14 4.264 1.626l-3.693-3.328a3.838 3.838 0 0 1-1.12-1.807c-.16-.14-.296-.278-.41-.41-.15-.814-.15-1.776-.15-2.737 0-1.923.297-3.92.815-5.695 1.064.456 2.374.845 4.164 1.257l2.04-2.263c-3.214-.836-4.507-1.06-5.095-1.582.89-1.923 2.146-3.846 3.847-5.4.2-.214.403-.41.607-.604A3.838 3.838 0 0 1 13.4 6.72l8.2-2.66L29.797 1.4a3.838 3.838 0 0 1 1.11-.187 3.838 3.838 0 0 1 .673.05c-2.366-.77-4.898-1.19-7.543-1.19zm8.883 1.672a3.838 3.838 0 0 1 1.814 4.108l-.34 1.603c3.117 1.942 5.697 4.87 7.245 8.297-.333.25-1.055.57-2.275.933l2.12 1.885a3.98 3.98 0 0 1 .173.164c.372-.137.732-.274 1.018-.394.592 1.775.886 3.772.886 5.62 0 3.007-.345 4.75-6.87 5.995l-2.598 2.924.836.743c.04-.167.088-.318.127-.488 2.736-.592 5.25-1.33 7.173-2.22-.96 2.59-2.366 4.955-4.437 6.878-.337.365-.696.702-1.066 1.025a3.98 3.98 0 0 1-2.415 2.244l-8.18 2.72-8.18 2.714a3.98 3.98 0 0 1-1.94.143c2.508.878 5.207 1.36 8.025 1.36C37.424 48 48 37.35 48 23.963 48 13.84 41.814 5.24 32.92 1.746zm.773 8.99l-.756 3.545-.158.745a3.98 3.98 0 0 1 1.99-.746c-.304-1.25-.66-2.438-1.077-3.544zM13.187 14.28c-.12.47-.232.95-.337 1.44l.867-.964-.53-.477zm1.567 18.134a3.838 3.838 0 0 1-1.78.777c.257 1.21.56 2.356.913 3.44l.648-3.155.22-1.06z"/><path d="M14.584 10.368l4.554 4.106-10.45 11.59 3.696 3.334 10.45-11.592 4.553 4.105 1.797-8.43 1.797-8.428-8.197 2.658-8.2 2.658zM33.056 37.286l-4.583-4.073L38.84 21.547l-3.72-3.306-10.367 11.667-4.583-4.072-1.736 8.443-1.736 8.44 8.18-2.715 8.178-2.717z"/></svg>
        </div>
    </rester-app>

    <div data-script-src="<%= htmlWebpackPlugin.files.js[0] %>"></div>
    <script src="scripts/global-config.js"></script>
    <script src="node_modules/@webcomponents/webcomponentsjs/webcomponents-loader.js"></script>
</body>
</html>
